@import 'normalize.css';
@import '@/assets/styles/defs';

.root {
  width: 100%;
  height: 100%;
  position: absolute;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  background: $black;
}
