:root {
  --color-background: #15141a;
  --color-white: #fff;
  --light-grey: #888;
  --color-dark-grey: #666;
  --color-accent: #ff4f4f;
  --font-header: 'Roboto', sans-serif;
  --font-body: 'Roboto', sans-serif;
  --font-mono: monospace;
  --icon-diameter: 2.6rem;
  --z-huds: 10;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/Roboto-Light.ttf') format('truetype');
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

html {
  background: var(--color-background);
  font-size: 10px;
  height: 100%;
  width: 100%;
}

body {
  color: var(--color-white);
  font-size: 1.6rem;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 0 5%;
  position: absolute;
  top: 0;
  width: 100%;
}

h1 {
  color: var(--color-white);
  font-family: var(--font-header);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;

  @media (min-width: 600px) {
    font-size: 3rem;
  }
}

a, button, li, p, span {
  border: none;
  color: inherit;
  font-family: var(--font-body);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .1rem;
  line-height: 130%;
  outline: none;
  text-decoration: none;
}

a, button {
  cursor: pointer;
  transition: all .2s ease-out;

  @media (hover: hover) {
    &:hover {
      opacity: .6;
    }
  }
}

code {
  display: block;
  font-family: var(--font-mono);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 130%;
  max-width: 60rem;
}

pre {
  font-family: var(--font-mono);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 130%;
  overflow: scroll;
}

section {
  align-items: flex-start;
  box-sizing: border-box;
  color: var(--light-grey);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: left;
}

footer {
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  left: 0;
  padding: 2.4rem;
  position: fixed;
  width: 100%;
  z-index: var(--z-huds);
}

nav {
  flex-grow: 1;
}

.logo {
  animation: rotate 5s linear infinite;
  height: 15rem;
  margin: 0 3rem 0 0;
  width: 15rem;

  @media (min-height: 600px) {
    height: 20rem;
    margin: 0 0 3rem;
    width: 20rem;
  }

  > svg * {
    fill: var(--color-accent) !important;
  }
}

.icon {
  align-items: center;
  border-radius: calc(var(--icon-diameter) / 2);
  box-sizing: border-box;
  display: flex;
  font-size: 1.2rem;
  height: var(--icon-diameter);
  justify-content: center;
  line-height: var(--icon-diameter);
  width: var(--icon-diameter);

  > img {
    height: 100%;
    width: 100%;
  }
}

.content {
  align-items: center;
  box-sizing: border-box;
  color: var(--light-grey);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  @media (min-height: 600px) {
    flex-flow: column nowrap;
    max-width: 37rem;

    > div {
      align-items: center;
      text-align: center;
    }
  }
}
