{
  "presets": [
    ["env"],
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  "env": {
    "server": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ],
      "plugins": [[
        "css-modules-transform", {
          "generateScopedName": "[hash:6]"
        }
      ], [
        "module-resolver", {
          "alias": {
            "@": "./src"
          }
        }
      ]
    ]},
    "client": {
    }
  }
}