{
  "env": {
    "browser": true,
    "es6": true,
    "node": false
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/array-type": [
      "error",
      {
        "default": "array"
      }
    ],
    "@typescript-eslint/brace-style": [
      "error",
      "stroustrup",
      {
        "allowSingleLine": true
      }
    ],
    "@typescript-eslint/class-literal-property-style": [
      "error",
      "getters"
    ],
    "@typescript-eslint/comma-dangle": [
      "error",
      "always-multiline"
    ],
    "@typescript-eslint/comma-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ],
    "@typescript-eslint/consistent-generic-constructors": "error",
    "@typescript-eslint/consistent-indexed-object-style": "error",
    "@typescript-eslint/consistent-type-assertions": "error",
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "fixStyle": "inline-type-imports"
      }
    ],
    "@typescript-eslint/default-param-last": "error",
    "@typescript-eslint/dot-notation": "off",
    "@typescript-eslint/explicit-member-accessibility": [
      "error",
      {
        "accessibility": "no-public"
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/func-call-spacing": [
      "error",
      "never"
    ],
    "@typescript-eslint/indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "@typescript-eslint/init-declarations": "off",
    "@typescript-eslint/keyword-spacing": [
      "error",
      {
        "after": true,
        "before": true
      }
    ],
    "@typescript-eslint/lines-between-class-members": "error",
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none"
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ],
    "@typescript-eslint/member-ordering": "error",
    "@typescript-eslint/method-signature-style": "error",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "format": [
          "UPPER_CASE"
        ],
        "selector": [
          "enumMember"
        ]
      },
      {
        "format": [
          "camelCase",
          "snake_case",
          "PascalCase",
          "UPPER_CASE"
        ],
        "leadingUnderscore": "allowDouble",
        "selector": [
          "variableLike",
          "property"
        ],
        "trailingUnderscore": "allowDouble"
      },
      {
        "format": [
          "camelCase"
        ],
        "selector": [
          "memberLike",
          "method"
        ]
      },
      {
        "format": [
          "PascalCase"
        ],
        "selector": "typeLike"
      },
      {
        "format": null,
        "modifiers": [
          "requiresQuotes"
        ],
        "selector": [
          "objectLiteralProperty",
          "objectLiteralMethod"
        ]
      },
      {
        "format": null,
        "leadingUnderscore": "allow",
        "modifiers": ["unused"],
        "selector": "parameter"
      }
    ],
    "@typescript-eslint/no-confusing-non-null-assertion": "error",
    "@typescript-eslint/no-dupe-class-members": "error",
    "@typescript-eslint/no-duplicate-enum-values": "error",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-extra-parens": "off",
    "@typescript-eslint/no-invalid-this": "error",
    "@typescript-eslint/no-invalid-void-type": "error",
    "@typescript-eslint/no-misused-new": "error",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-non-null-asserted-nullish-coalescing": "error",
    "@typescript-eslint/no-require-imports": "warn",
    "@typescript-eslint/no-restricted-imports": "error",
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/no-this-alias": "error",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "args": "none"
      }
    ],
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/no-useless-empty-export": "error",
    "@typescript-eslint/no-var-requires": "warn",
    "@typescript-eslint/object-curly-spacing": [
      "error",
      "always"
    ],
    "@typescript-eslint/padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "next": "return",
        "prev": "*"
      }
    ],
    "@typescript-eslint/prefer-function-type": "error",
    "@typescript-eslint/prefer-optional-chain": "off",
    "@typescript-eslint/prefer-ts-expect-error": "error",
    "@typescript-eslint/quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "@typescript-eslint/semi": [
      "error",
      "never"
    ],
    "@typescript-eslint/sort-type-union-intersection-members": "off",
    "@typescript-eslint/space-before-blocks": [
      "error",
      "always"
    ],
    "@typescript-eslint/space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "asyncArrow": "always",
        "named": "never"
      }
    ],
    "@typescript-eslint/space-infix-ops": "error",
    "@typescript-eslint/triple-slash-reference": [
      "error",
      {
        "lib": "always",
        "path": "always",
        "types": "prefer-import"
      }
    ],
    "@typescript-eslint/type-annotation-spacing": [
      "error",
      {
        "after": true,
        "before": false,
        "overrides": {
          "arrow": {
            "before": true
          }
        }
      }
    ],
    "@typescript-eslint/unified-signatures": "error",
    "array-bracket-newline": [
      "error",
      "consistent"
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "array-callback-return": "error",
    "array-element-newline": [
      "error",
      "consistent"
    ],
    "arrow-body-style": "off",
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "arrow-spacing": [
      "error",
      {
        "after": true,
        "before": true
      }
    ],
    "block-spacing": [
      "error",
      "always"
    ],
    "brace-style": [
      "error",
      "stroustrup",
      {
        "allowSingleLine": true
      }
    ],
    "capitalized-comments": "off",
    "comma-dangle": "off",
    "comma-spacing": "off",
    "comma-style": [
      "error",
      "last"
    ],
    "complexity": "off",
    "computed-property-spacing": [
      "error",
      "never"
    ],
    "curly": [
      "error",
      "multi-line"
    ],
    "default-case": "error",
    "default-case-last": "error",
    "default-param-last": "off",
    "dot-location": [
      "error",
      "property"
    ],
    "dot-notation": "off",
    "eol-last": "error",
    "eqeqeq": [
      "error",
      "smart"
    ],
    "func-call-spacing": "off",
    "func-names": [
      "error",
      "never"
    ],
    "func-style": [
      "error",
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ],
    "generator-star-spacing": [
      "error",
      {
        "after": false,
        "before": true
      }
    ],
    "guard-for-in": "error",
    "id-denylist": [
      "error",
      "any",
      "Number",
      "number",
      "String",
      "string",
      "Boolean",
      "boolean",
      "Undefined",
      "undefined"
    ],
    "id-match": "error",
    "implicit-arrow-linebreak": "error",
    "indent": "off",
    "init-declarations": "off",
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "key-spacing": [
      "error",
      {
        "afterColon": true,
        "beforeColon": false,
        "mode": "strict"
      }
    ],
    "keyword-spacing": "off",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "lines-between-class-members": "off",
    "max-classes-per-file": [
      "error",
      1
    ],
    "max-depth": [
      "warn",
      6
    ],
    "max-len": "off",
    "new-cap": "off",
    "new-parens": "error",
    "no-alert": "warn",
    "no-bitwise": "off",
    "no-caller": "error",
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-constant-binary-expression": "error",
    "no-constructor-return": "error",
    "no-dupe-class-members": "off",
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true
      }
    ],
    "no-empty-function": "off",
    "no-eval": "error",
    "no-extra-bind": "error",
    "no-extra-parens": "off",
    "no-fallthrough": "off",
    "no-floating-decimal": "error",
    "no-implied-eval": "error",
    "no-invalid-this": "off",
    "no-label-var": "error",
    "no-lonely-if": "error",
    "no-magic-numbers": "off",
    "no-multi-assign": "error",
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxBOF": 0,
        "maxEOF": 0
      }
    ],
    "no-nested-ternary": "off",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-param-reassign": "error",
    "no-promise-executor-return": "error",
    "no-redeclare": "off",
    "no-restricted-imports": "off",
    "no-return-await": "off",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow": "off",
    "no-tabs": "error",
    "no-template-curly-in-string": "error",
    "no-throw-literal": "off",
    "no-trailing-spaces": "error",
    "no-undef-init": "error",
    "no-underscore-dangle": "off",
    "no-unmodified-loop-condition": "warn",
    "no-unneeded-ternary": "off",
    "no-unreachable-loop": "warn",
    "no-unused-private-class-members": "warn",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "no-useless-constructor": "off",
    "no-var": "error",
    "no-void": "error",
    "no-warning-comments": [
      "warn",
      {
        "location": "start",
        "terms": [
          "todo",
          "fixme",
          "hack"
        ]
      }
    ],
    "no-whitespace-before-property": "error",
    "nonblock-statement-body-position": [
      "error",
      "beside"
    ],
    "object-curly-spacing": "off",
    "object-shorthand": "error",
    "one-var": [
      "error",
      "never"
    ],
    "padded-blocks": [
      "error",
      "never"
    ],
    "padding-line-between-statements": "off",
    "prefer-const": "error",
    "prefer-object-spread": "error",
    "prefer-promise-reject-errors": "error",
    "prefer-rest-params": "error",
    "prefer-template": "error",
    "quote-props": [
      "error",
      "consistent"
    ],
    "quotes": "off",
    "radix": "error",
    "require-atomic-updates": "error",
    "rest-spread-spacing": [
      "error",
      "never"
    ],
    "semi": "off",
    "semi-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ],
    "semi-style": [
      "error",
      "last"
    ],
    "space-before-blocks": "off",
    "space-before-function-paren": "off",
    "space-in-parens": [
      "error",
      "never"
    ],
    "space-infix-ops": "off",
    "space-unary-ops": "error",
    "spaced-comment": [
      "error",
      "always",
      {
        "markers": [
          "/"
        ]
      }
    ],
    "switch-colon-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ],
    "template-curly-spacing": [
      "error",
      "never"
    ],
    "template-tag-spacing": [
      "error",
      "never"
    ],
    "wrap-iife": [
      "error",
      "inside"
    ],
    "yield-star-spacing": [
      "error",
      "before"
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
