doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src=`manifest.js`)
    script(src=`common.js`)
    script(src='main.js')
