.root {
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  left: 0;
  padding: 2.4rem;
  position: fixed;
  width: 100%;
  z-index: var(--z-huds);
}

.nav {
  flex-grow: 1;

  & > a {
    background: url('../assets/images/github-logo.svg') center / 100% no-repeat;
    display: block;
    height: 2.2rem;
    transition: all .2s ease-out;
    width: 2.2rem;

    &:hover {
      opacity: .6;
    }
  }
}

.button {
  align-items: center;
  background: var(--color-grey);
  border: none;
  box-sizing: border-box;
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  font-family: var(--font-body);
  font-size: 1.2rem;
  height: 2.2rem;
  justify-content: center;
  outline: none;
  text-decoration: none;
  transition: all .2s ease-out;
  width: 2.2rem;

  &:hover {
    background: var(--color-white);
    color: var(--color-black);
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }
}
