.root {
  --icon-diameter: 2.6rem;

  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  left: 0;
  padding: 2.4rem;
  position: fixed;
  width: 100%;
  z-index: var(--z-huds);
}

.nav {
  flex-grow: 1;

  >a {
    display: block;
    height: var(--icon-diameter);
    transition: all .2s ease-out;
    width: var(--icon-diameter);

    @media (hover: hover) {
      &:hover {
        opacity: .6;
      }
    }
  }
}

.button {
  align-items: center;
  background: var(--color-dark-grey);
  border: none;
  border-radius: calc(var(--icon-diameter) / 2);
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  font-family: var(--font-body);
  font-size: 1.2rem;
  height: var(--icon-diameter);
  justify-content: center;
  line-height: var(--icon-diameter);
  outline: none;
  text-decoration: none;
  transition: all .2s ease-out;
  width: var(--icon-diameter);

  &:not(:last-child) {
    margin-right: 1rem;
  }

  @media (hover: hover) {
    &:hover {
      opacity: .6;
    }
  }
}
