.root {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding: 2.4rem;
  position: fixed;
  width: 100%;
  z-index: var(--z-huds);
}

.link {
  cursor: pointer;
  font-family: var(--font-body);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s ease-out;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  @media (hover: hover) {
    &:hover {
      opacity: .6;
    }
  }
}
