.root {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding: 2.4rem;
  position: fixed;
  width: 100%;
  z-index: var(--z-huds);
}

.link {
  composes: n1 from global;
  cursor: pointer;
  transition: all .2s ease-out;

  &:hover {
    opacity: .6;
  }

  &:not(:last-child) {
    margin-right: 2rem;
  }
}
