extends layout

block content
  script(type='application/javascript').
    window.__INITIAL_STATE__ = !{JSON.stringify(initialState)}
    window.__INITIAL_LOCALE__ = !{JSON.stringify(initialLocale)}
  #app!= content
