doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type=`application/javascript` src=`manifest.js`)
    script(type=`application/javascript` src=`common.js`)
    script(type=`application/javascript` src='bundle.js')
