name: CD
on:
  push:
    tags: ["v*"]
  release:
    types: [published]
jobs:
  build:
    name: Build
    uses: ./.github/workflows/job-build.yml
    secrets: inherit
  deploy:
    name: Deploy
    uses: ./.github/workflows/job-deploy.yml
    needs: [build]
    secrets: inherit
  notify:
    name: Notify
    needs: [build, deploy]
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - uses: andrewscwei/telegram-action@v1.0.0
        with:
          success: ${{ needs.build.result == 'success' && needs.release.result == 'success' }}
          bot-token: ${{ secrets.TELEGRAM_DEVOPS_BOT_TOKEN }}
          chat-id: ${{ secrets.TELEGRAM_DEVOPS_CHAT_ID }}
